
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="form-container">
        <h2 class="form-title">Đăng Nhập</h2>
        <form id="loginForm" method="post" action="@Url.Action("Login","BaiTH10")">
            <div class="form-group">
                <label for="loginUsername">Tài khoản</label>
                <input type="text" id="loginUsername" name="tk" required>
            </div>
            <div class="form-group">
                <label for="loginPassword">Mật khẩu</label>
                <input type="password" id="loginPassword" name="mk" required>
            </div>
            <button type="submit" class="form-button">Đăng Nhập</button>
        </form>
        <div class="form-footer">
            <p>Chưa có tài khoản? <a href="#" onclick="showPage('register')">Đăng ký ngay</a></p>
        </div>
        @if(ViewBag.Message != null)
            {
                <p><em>@ViewBag.Message</em></p>
            }
    </div>
</div>


